{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Liste des archives pour l'année {{ year }}</h1>
    
    <div id="years">
        {% for tmp in years %}
            {% if tmp == logs %}
                {{ tmp.getName }}
            {% else %}
                <a href="/{{ tmp.getName }}">{{tmp.getName }}</a>
            {% endif %}
        {% endfor %}
    </div>
    
    {% if not logs %}
        <div class="error">
            Aucune archive disponible pour cette année
        </div>
    {% else %}
        {% for i in 1..12 %}
            {% set month =  logs.getMonth(i) %}
            {% set days = month.numberOfDays %}

            {% if month %}
                <div class="calendar">
                    <div class="title">
                        {{ month.getName }}
                    </div>

                    <div class="days">
                        {% for j in 1..days %}
                            {% set day = month.getDay(j) %}

                            {% if day %}
                                <a href="/{{ year }}/{{ i }}/{{ j }}" class="active">{{ j }}</a>
                            {% else %}
                                <a href="#">{{ j }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}