{% extends 'layout.html.twig' %}

{% block title %}Archives de l'année {{ current_year }}{% endblock %}

{% block content %}
    <h1>Liste des archives pour l'année {{ current_year }}</h1>

    <div class="paginator">
        {% for tmp in years %}
            {% if tmp == year %}
                <span class="current">{{ tmp.getName }}</span>
            {% else %}
                <a class="highlight" href="{{ tmp.getUrl }}">{{ tmp.getName }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% if not year %}
        <div class="error">
            Aucune archive disponible pour cette année
        </div>
    {% else %}
        {% for i in 1..12 %}
            {% set month =  year.getMonth(i) %}

            {% if month is not null %}
                {% set days = month.numberOfDays %}

                <div class="calendar">
                    <div class="title">
                        {{ month.getName }}
                    </div>

                    <div class="days">
                        {% for j in 1..days %}
                            {% set day = month.getDay(j) %}

                            {% if day %}
                                <a href="{{ day.getUrl }}" class="active highlight">{{ j }}</a>
                            {% else %}
                                <span>{{ j }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}